BASE_URL=https://linkedin.my.domain 
LINKEDIN_CLIENT_ID=replace_me (get from Linked in Oauth - your app id   7vs56456456ww )
LINKEDIN_CLIENT_SECRET=replace_me (get from Linked in Oauth looks like  WPL_AP1.jfjdhfkjsdfkjfh.QMhkj==)
APP_API_KEY=generate_with_openssl_rand_hex_32
SESSION_SECRET=generate_with_openssl_rand_hex_32
DEFAULT_HASHTAGS=#NetScout
DB_PATH=/data/linkedin.db
PORT=8080
POLL_SECONDS=30
USER_TIMEZONE=America/New_York
